<% provide(:title, 'ANALYTICS') %>
<div ng-app='comsatrack'>
  <div ng-controller='AnalyticsCtrl'>

    <h1>Analytics</h1>

    <div class='u-pull-right'>
      <%= link_to 'Export All Records', records_path(format: 'csv'),
      class: 'button button-primary button-primary-solid' %>
    </div>

    <table class='u-full-width'>
      <thead>
        <th>Metric</th>
        <th>Count</th>
      </thead>
      <tr>
        <td>2015: Number of Swims</td>
        <td><%= @records_2015.count %></td>
      </tr>
      <tr>
        <td>2015: Unique Swimmers</td>
        <td><%= @unique_2015 %></td>
      </tr>
      <tr>
        <td>2014: Number of Swims</td>
        <td><%= @records_2014.count %></td>
      </tr>
      <tr>
        <td>2014: Unique Swimmers</td>
        <td><%= @unique_2014 %></td>
      </tr>
    </table>
  </div>
</div>
