<div ng-app="comsatrack">
  <div ng-controller="AnalyticsCtrl">

    <% provide(:title, 'Analytics') %>
    <h1 class='hidden-xs'>Analytics</h1>
    <center><h4 class='visible-xs'>Analytics</h4></center>

    <div class='well userform'>
        <h4> Parameters </h4>
        <strong>Start Date</strong>
        <div class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt1" is-open="opened1" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <strong>End Date</strong>
        <div class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt2" is-open="opened2" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <br>
        <%= bootstrap_form_tag(url: '/analytics', method: "post") do |f| %>
          <%= f.hidden_field :start_date, value: "{{dt1 | date:'yyyy-MM-dd'}} 00:00:01" %>
          <%= f.hidden_field :end_date, value: "{{dt2 | date:'yyyy-MM-dd'}} 23:59:59" %>
          <%= f.primary 'Query Database' %>
        <% end %>
      </div>

    <br>
    <center>
      <table class='table table-bordered table-condensed' style='width:50%'>
        <tr>
          <td>
            <h4>Total Number of Swims</h4>
          </td>
          <td align="center">
            <h4>
              <%= @records.count %>
              <br>
              <%= @start_date %>
              <br>
              <%= @end_date %>
              <br>
              <%= @start_adj %>
              <br>
              <%= @end_adj %>
              <br>
              <%= Time.now + 8.hours %>
            </h4>
          </td>
      </table>
      <%= link_to 'Export All Records', records_path(format: 'csv'),
          class: 'btn btn-danger btn-sm' %>
    </center>
  </div>
</div>
