<% provide(:title, 'Resend Confirmation Instructions') %>

<div class='box-position'>
  <center>
    <p class='header-font'>COMSA TRACKER 1.0</p>
  </center>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(resource,
                           :as => resource_name,
                           :url => confirmation_path(resource_name),
                           :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <center><h4>Resend Confirmation Instructions</h4></center><hr>
      <%= f.email_field :email, :autofocus => true, hide_label: true, placeholder: 'Email' %>
      <center>
        <%= f.submit 'Resend Confirmation Email', class: 'devise-buttons' %>
      </center>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
    <div class='visible-xs'>
      <br>
      <center>
        <p style='color: #C0C0C0'>&#169;2014 Affektive Limited</p>
      </center>
    </div>
  </div>
</div>
