<% provide(:title, 'Sign Up') %>

<center>
  <p class='header-font'>COMSA TRACKER 1.0</p>
</center>

<div class='box-position'>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(resource, :as => resource_name,
                           :url => registration_path(resource_name)) do |f| %>
      <center><h4>Sign Up</h4></center><hr>
      <%= f.email_field :email, :autofocus => true, hide_label: :true,  placeholder: 'Email' %>
      <%= f.password_field :password, hide_label: :true, placeholder: 'Password' %>
      <%= f.password_field :password_confirmation, hide_label: :true, placeholder: 'Password Confirmation' %>
      <center>
        <%= f.submit 'Sign Up For An Account', class: 'devise-buttons' %>
      </center>
    <% end %>
    <%= render "devise/shared/copyright" %>
  </div>
</div>
