<% provide(:title, 'Analytics') %>
<h1 class='hidden-xs'>Monitors</h1>
<center><h4 class='visible-xs'>Analytics</h4></center>
<div class='userform well'>
  <%= bootstrap_form_for(@analytic) do |f| %>
     <%= f.date_select :start_date, { start_year: Time.now.year,
      end_year: Time.now.year-30, order: [:month, :day, :year], prompt: true},
        label: 'Date of Hire'  %>
     <%= f.date_select :end_date, { start_year: Time.now.year,
      end_year: Time.now.year-30, order: [:month, :day, :year], prompt: true},
        label: 'Date of Hire'  %>
    <%= f.primary ( f.object.new_record? ?  'Setup Query' :
    'Query Database' ) %>
  <% end %>
</div>
<center>
  <table class='table table-bordered table-condensed' style='width:25%'>
    <tr>
      <td style="display: table-cell; vertical-align: middle;">
        <h4>Total Number of Swims</h4>
      </td>
      <td style="display: table-cell; vertical-align: middle;">
        <h4>
          <%=SwimRecord.where(created_at: @analytic.start_date..@analytic.end_date,
                              completed: true).count%>
        </h4>
      </td>
  </table>
</center>
