<% provide(:title, 'Locked Out') %>

<div class='box-position'>
  <center>
    <p class='header-font'>COMSA TRACKER 1.0</p>
  </center>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(resource, :as => resource_name,
                           :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <center><h4>Resend Unlock Instructions</h4></center><hr>
      <%= f.email_field :email, :autofocus => true, hide_label: true, placeholder: 'Email' %>
      <center>
        <%= f.submit 'Resend Unlock Instructions', class: 'devise-buttons' %>
      </center>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
    <%= render "devise/shared/copyright" %>
  </div>
</div>
