<div class='userform well'>
  <%= bootstrap_form_for(@user,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>
    <%= render 'shared/error_messages_users' %>
    <h1 class='hidden-xs'><%= legend %></h1>
    <center><h4 class='visible-xs'><%= legend %></h4></center>
    <%= render 'shared/required' %>
    <br><br>
    <%= f.text_field :first_name, label: 'First Name *' %>
    <%= f.text_field :last_name, label: 'Last Name *' %>
    <%= f.text_field :email, label: 'Email *' %>
    <%= f.telephone_field :phone_number, label: 'Phone Number' %>
    <%= f.password_field :password, label: 'Password *' %>
    <%= f.password_field :password_confirmation, label: 'Password Confirmation *' %>
    <% if current_user.admin? && @user != current_user %>
      <%= f.select :admin, [['Yes', true], ['No', false]] %>
    <% end %>
    <%= f.primary ( f.object.new_record? ?  'Create Monitor' :
    'Save Changes' ) %>
  <% end %>
</div>
</div>
</div>
