<div class='userform well'>
  <%= bootstrap_form_for(@swimmer,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>

    <%= render 'shared/error_messages_swimmers' %>

    <legend><%= legend %></legend>

    <%= f.text_field :first_name, label: 'First Name' %>
    <%= f.text_field :middle_initial, label: 'Middle Initial' %>
    <%= f.text_field :last_name, label: 'Last Name' %>
    <%= f.text_field :usms_number, label: 'USMS Number' %>
    <%= f.text_field :lmsc, label: 'LMSC' %>
    <%= f.text_field :phone_number, label: 'Phone Number' %>

    <%= f.primary ( f.object.new_record? ?  'Create Swimmer' :
    'Save Changes' ) %>

  <% end %>
</div>
</div>
