<div class='userform well'>
  <%= bootstrap_form_for(@swimmer,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>
    <%= render 'shared/error_messages_swimmers' %>
    <h1 class='hidden-xs'><%= legend %></h1>
    <center><h4 class='visible-xs'><%= legend %></h4></center>
    <%= f.text_field :phone_number, label: 'Phone Number *' %>
    <%= f.primary ( f.object.new_record? ?  'Create Swimmer' :
    'Save Changes' ) %>
  <% end %>
</div>
</div>
</div>
