<div class='table-responsive'>
  <table class='table table-hover table-condensed' >
    <thead>
      <tr>
        <th></th>
        <th>
         <a href="" ng-click="predicate.value = 'last_name'; reverse=!reverse">
           Last Name</a>
        </th>
        <th>
         <a href="" ng-click="predicate.value = 'first_name'; reverse=!reverse">
           First Name</a>
        </th>
        <th>MI</th>
        <th class = 'hidden-xs'>USMS Number</th>
        <th class = 'hidden-xs'>LMSC</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='swimmer in Swimmers | orderBy:predicate.value:reverse |
                     filter:search'>
        <td>
          <div ng-if="showPhone(swimmer.phone_number)">
            <span style="color: green; font-size: 14pt" class="glyphicon glyphicon-earphone"></span>
          </div>
        </td>
        <td>
          <a ng-href='/swimmers/{{swimmer.id}}'>
            {{swimmer.last_name}}
          </a>
        </td>
        <td>{{swimmer.first_name}}</td>
        <td>{{swimmer.middle_initial}}</td>
        <td class = 'hidden-xs'>{{swimmer.usms_number}}</td>
        <th class = 'hidden-xs'>{{swimmer.lmsc}}</td>
        <td>
          <%= bootstrap_form_for SwimRecord.create do |f| %>
            <%= f.hidden_field :swimmer_id, value: '{{swimmer.id}}' %>
            <%= f.hidden_field :check_in, value: Time.now %>
            <%= f.hidden_field :check_in_user_id, value: current_user.id %>
            <div ng-if="showPhone(swimmer.phone_number)">
              <%= f.submit 'Check In', class: "btn btn-success btn-sm"  %>
            </div>
            <div ng-hide="hideCheckin(swimmer.phone_number)">
              <%= f.submit 'Add Phone Number', class: "btn btn-warning btn-sm", disabled: "disabled"  %>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
