<% provide(:title, 'OUT OF STATE') %>

<h1>Out of State</h1>

<center>
  <%= form_tag out_of_state_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search],
                       placeholder: 'Search Last Name', autocorrect: 'off' %>
    <%= submit_tag 'Search', name: nil, class: 'button button-info button-info-solid' %>
  <% end %>
</center>

<% if @swimmers %>
  <table class='u-full-width'>
    <thead>
      <tr>
        <th></th>
        <th class='visible-xs'>Full Name</th>
        <th class='hidden-xs'>Last Name</th>
        <th class='hidden-xs'>First Name</th>
        <th class='hidden-xs'>MI</th>
        <th class='hidden-xs'>USMS Number</th>
        <th>LMSC</th>
      </tr>
    </thead>
    <tbody>
      <% @swimmers.each do |swimmer| %>
        <% unless swimmer[:swimmer][:lmsc] == 'CO' %>
          <tr>
            <td>
              <%= link_to('Add', swimmers_path(swimmer), method: 'post',
                          class: 'button button-primary') %>
            </td>
            <td class='visible-xs'>
              <%= "#{swimmer[:swimmer][:last_name]},
                   #{swimmer[:swimmer][:first_name]}
                   #{swimmer[:swimmer][:mi]}" %>
            </td>
            <td class='hidden-xs'>
              <%= swimmer[:swimmer][:last_name] %>
            </td>
            <td class='hidden-xs'>
              <%= swimmer[:swimmer][:first_name] %>
            </td>
            <td class='hidden-xs'>
              <%= swimmer[:swimmer][:mi] %>
            </td>
            <td class='hidden-xs'>
              <%= swimmer[:swimmer][:usms_number] %>
            </td>
            <th>
              <%= swimmer[:swimmer][:lmsc] %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
