<table>
  <tr>
    <th>Record</th>
    <th>Swimmer</th>
    <th>Check In</th>
    <th>Checked In By</th>
    <th>Check Out</th>
    <th>Checked Out By</th>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <td><%= record.id %></td>
      <td>
        <% if Swimmer.find_by_id(record.swimmer_id) %>
          <%= "#{Swimmer.find_by_id(record.swimmer_id).first_name} #{Swimmer.find_by_id(record.swimmer_id).last_name}" %>
        <% else %>
           <%= record.swimmer_id %>
        <% end %>
      </td>
      <td><%= record.check_in.strftime("%m/%d/%Y %I:%M%p") %></td>
      <td><%= "#{record.check_in_first_name} #{record.check_in_last_name}" %></td>
      <td><%= record.check_out.try(:strftime, "%m/%d/%Y %I:%M%p") %></td>
      <td><%= "#{record.check_out_first_name} #{record.check_out_last_name}" %></td>
    </tr>
  <% end %>
</table>
