<% provide(:title, "#{@swimmer.first_name} #{@swimmer.last_name.each_char.first}.") %>

<h1><%= "#{@swimmer.first_name} #{@swimmer.last_name}" %></h1>

<div class='pull-left'>
<%=link_to 'Edit Information', edit_swimmer_path(@swimmer), type: 'button',
    class: 'btn btn-primary'%>
</div>

<br> <br>

<div class='table-responsive'>
  <table class='table table-bordered table-condensed' >
    <tr>
    <th style='width:25%'>First Name</th>
      <td><%= @swimmer.first_name %></td>
    </tr>
    <tr>
    <th>Middle Initial</th>
      <td><%= @swimmer.middle_initial %></td>
    </tr>
    <tr>
    <th>Last Name</th>
      <td><%= @swimmer.last_name %></td>
    </tr>
    <tr>
    <th>USMS Number</th>
      <td><%= @swimmer.usms_number %></td>
    </tr>
    <tr>
    <th>LMSC</th>
      <td><%= @swimmer.lmsc %></td>
    </tr>
    <tr>
    <th>Phone Number</th>
      <td><%= @swimmer.phone_number %></td>
    </tr>
  </table>
</div>
