<% provide(:title, "#{@swimmer.first_name} #{@swimmer.last_name.each_char.first}.") %>

<h1><%= "#{@swimmer.first_name} #{@swimmer.last_name}" %></h1>

<div class='pull-left'>
<%=link_to 'Edit', edit_swimmer_path(@swimmer), type: 'button',
    class: 'btn btn-primary'%>
</div>

  <ul class='pull-right'>
  <% if @swimmer.phone_number? %>

    <%= bootstrap_form_for SwimRecord.create do |f| %>
      <%= f.hidden_field :last_name, value: @swimmer.last_name %>
      <%= f.hidden_field :first_name, value: @swimmer.first_name  %>
      <%= f.hidden_field :check_in, value: Time.now %>
      <%= f.hidden_field :swimmer_id, value: @swimmer.id %>
      <%= f.hidden_field :check_in_user_id, value: current_user.id %>
      <%= f.submit 'Check In', class: "btn btn-success" %>
    <% end %>

  <% else %>
    <button type="button" class="btn btn btn-warning" disabled="disabled">Add Phone Number</button>
  <% end %>
  </ul>

<br> <br>

<div class='table-responsive'>
  <table class='table table-bordered table-condensed' >
    <tr>
    <th style='width:25%'>First Name</th>
      <td><%= @swimmer.first_name %></td>
    </tr>
    <tr>
    <th>Middle Initial</th>
      <td><%= @swimmer.middle_initial %></td>
    </tr>
    <tr>
    <th>Last Name</th>
      <td><%= @swimmer.last_name %></td>
    </tr>
    <tr>
    <th>USMS Number</th>
      <td><%= @swimmer.usms_number %></td>
    </tr>
    <tr>
    <th>LMSC</th>
      <td><%= @swimmer.lmsc %></td>
    </tr>
    <tr>
    <th>Phone Number</th>
      <td><%= @swimmer.phone_number %></td>
    </tr>
  </table>
</div>
