<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @swimmer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @swimmer.last_name %>
</p>

<p>
  <strong>Usms number:</strong>
  <%= @swimmer.usms_number %>
</p>

<p>
  <strong>Lmsc:</strong>
  <%= @swimmer.lmsc %>
</p>

<%= link_to 'Edit', edit_swimmer_path(@swimmer) %> |
<%= link_to 'Back', swimmers_path %>
