<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <div class='visible-xs'>
        <% unless @check_in == false %>
        <%= link_to 'CHECK IN', swimmers_path, class: 'button button-success button-success-solid button-width-default button-on-nav' %>
        <% end %>
        <% if @check_in== false %>
        <%= link_to 'CHECK OUT', swim_records_path, class: 'button button-danger button-danger-solid button-width-default button-on-nav' %>
        <% end %>
      </div>
    </div>
    <div class='collapse navbar-collapse' id='myNavbar'>
      <ul class='nav navbar-nav u-ul-position-fix'>
        <li><%= link_to 'MY PROFILE', current_user, class:'navbar-link visible-xs' %></li>
        <li><a class='navbar-link hidden-xs' href='/swimmers'>CHECK IN</a></li>
        <li><a class='navbar-link hidden-xs' href='/swim_records'>CHECK OUT</a></li>
        <li><a class='navbar-link visible-xs' href='/users'>MONITORS</a></li>
        <li><a class='navbar-link' href='/out_of_state'>OUT OF STATE</a></li>
        <li><%= link_to 'UPDATE DATABASE', { controller: 'swimmers', action: 'import' }, method: :get, class:'navbar-link visible-xs' %>
        <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class:'navbar-link visible-xs' %></li>
        <% if current_user.admin? %>
        <li><a class='navbar-link hidden-xs' href='/analytics'>ANALYTICS</a></li>
        <% end %>
      </ul>
      <ul class='nav navbar-nav navbar-right u-ul-position-fix hidden-xs'>
      <li class='dropdown'>
        <a href='#' class='dropdown-toggle navbar-link' data-toggle='dropdown'>
          ACCOUNT<b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><%= link_to 'MY PROFILE', current_user %></li>
            <li><%= link_to 'UPDATE DATABASE', { controller: 'swimmers', action: 'import' }, method: :get %></li>
            <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
